<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>AngularJS RadioButton Example</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body>
    <form>
        Pick a topic:
        <input type="radio" ng-model="myVar" value="tutorial"/>Tutorials
        <input type="radio" ng-model="myVar" value="fest"/>Festivals
        <input type="radio" ng-model="myVar" value="news"/>News
        </form> 
</body>
</html>