<!DOCTYPE html>
<html ng-app="orderApp">
<head>
  <title>Billing Form</title>
  <script data-require="jquery@3.0.0" data-semver="3.0.0" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.js"></script>
  <link data-require="bootstrap@3.3.7" data-semver="3.3.7" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body ng-controller="orderCtrl">
  <h1>Billing Form</h1>
  <form>
    <div>
      <label for="productName">Product Name:</label>
      <input type="text" id="productName" ng-model="productName">
    </div>
    <div>
      <label for="productPrice">Product Price:</label>
      <input type="number" id="productPrice" ng-model="productPrice">
    </div>
    <button ng-click="addProduct()">Add Product</button>
  </form>
  <hr>
  <h2>Products</h2>
  <ul>
    <li ng-repeat="product in products">{{ product.name }} - {{ product.price }}</li>
  </ul>
  <hr>
  <h2>Bill Amount</h2>
  <div>
    <label for="billAmount">Bill Amount:</label>
    <input type="number" id="billAmount" ng-model="billAmount" readonly>
  </div>
  <hr>
  <h2>GST</h2>
  <div>
    <label for="gst">GST (5%):</label>
    <input type="number" id="gst" ng-model="gst" readonly>
  </div>
  <hr>
  <h2>Total Amount</h2>
  <div>
    <label for="totalAmount">Total Amount:</label>
    <input type="number" id="totalAmount" ng-model="totalAmount" readonly>
  </div>
</body>
<script>
    angular.module('orderApp', []).controller('orderCtrl', function($scope) {
  $scope.products = [];
  $scope.billAmount = 0;
  $scope.gst = 0;
  $scope.totalAmount = 0;

  $scope.addProduct = function() {
    if ($scope.productName && $scope.productPrice) {
      $scope.products.push({ name: $scope.productName, price: $scope.productPrice });
      updateBillAmount();
    }
  };

  function updateBillAmount() {
    var total = 0;
    for (var i = 0; i < $scope.products.length; i++) {
      total += $scope.products[i].price;
    }
    $scope.billAmount = total;
    calculateGSTAndTotalAmount();
  }

  function calculateGSTAndTotalAmount() {
    $scope.gst = $scope.billAmount * 0.05;
    $scope.totalAmount = $scope.billAmount + $scope.gst;
  }
});
</script>
</html>