<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <title>Initialize Prices to Zero</title>
  <script data-require="jquery@3.0.0" data-semver="3.0.0" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.js"></script>
  <link data-require="bootstrap@3.3.7" data-semver="3.3.7" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
  <link rel="stylesheet" href="style.css">  
</head>
<body ng-controller="ProductController">
  <h1>Product Form</h1>
  <form name="productForm">
    <label for="productName">Product Name:</label>
    <input type="text" id="productName" ng-model="product.name">
    <br>

    <label for="productPrice">Product Price:</label>
    <input type="number" id="productPrice" ng-model="product.price">
    <br>
    <br>
    <button type="button" ng-click="saveProduct()">Save Product</button>
  </form>

  <ul>
    <li ng-repeat="product in products">
      {{ product.name }} - {{ product.price }}
    </li>
  </ul>
</body>
<script>
    var myApp = angular.module('myApp', []);

myApp.controller('ProductController', ['$scope', function($scope) {
  $scope.products = [];
  $scope.product = {
    name: '',
    price: 0
  };

  $scope.saveProduct = function() {
    $scope.products.push({
      name: $scope.product.name,
      price: $scope.product.price
    });

    $scope.product.name = '';
    $scope.product.price = 0;
  };
}]);

</script>
</html>
